@import url('https://fonts.googleapis.com/css2?family=Faster+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bayon&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Graduate&display=swap');
body {
  background-image: url('images/1.svg');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center center;
  background-clip: border-box;
  background-size: cover;
}
header{
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
header img {
  width: 150px;
}
menu{
  display: flex;
  flex-wrap: wrap;
  font-family: 'Graduate', cursive;
  justify-content: center;
  padding-inline-start: 0px;
}
.menu-home, .menu-characters, .menu-comics {
  font-size: 20px;
}

.characters-block {
  display: grid;
  grid-gap: 15px;
  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  grid-template-rows: repeat(2, 400px);
  justify-items: center;
  justify-content: center;
}
.characters-title{
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  font-family: 'Faster One', cursive;
  font-size: 35px;
  color:rgb(177, 4, 4);
  filter: drop-shadow(3px -1px 0px rgb(247, 246, 246));
}
.hero-card{
  padding: 25px;
  background-image: url('https://p.favim.com/orig/2018/11/25/comics-line-black-and-white-Favim.com-6626365.png');
  background-position: top right;
  border: 10px solid transparent;
  border-image: linear-gradient(to right, rgb(170, 2, 2), rgb(26, 23, 24)) 1;
}
.hero-name {
  padding-top: 10px;
  max-width: 150px;
  height: 70px;
  font-family: 'Bayon', sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: rgb(17, 17, 17);
}

.comics-block {
  display: grid;
  grid-gap: 15px;
  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  grid-template-rows: repeat(2, 400px);
  justify-items: center;
  justify-content: center;
}
.comics-title{
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  font-family: 'Faster One', cursive;
  font-size: 30px;
  color:rgb(2, 14, 125)
}
.comics-card{
  padding: 25px;
  background-image: url('https://p.favim.com/orig/2018/11/25/comics-line-black-and-white-Favim.com-6626365.png');
  background-position: top right;
  border: 10px solid transparent;
  border-image: linear-gradient(to right, rgb(170, 2, 2), rgb(26, 23, 24)) 1;
}
.comics-name {
  padding-top: 10px;
  max-width: 150px;
  height: 70px;
  font-family: 'Bayon', sans-serif;
  font-size: 18px;
  font-weight: bold;
  color: rgb(17, 17, 17);
}

.characters-wrapper .ant-input-affix-wrapper,.comics-wrapper .ant-input-affix-wrapper {
  width: 200px;
  display: flex;
  margin: 0 auto 20px auto;
  outline: solid 6px #7c4bb5;
}

.double-border-button {
  text-decoration: none;
  display: inline-block;
  margin: 10px 10px;
  padding: 10px 20px;
  position: relative;
  border: 2px solid #f1eeee;
  border-radius:  60% 40% 60% 40% / 60% 40% 60% 40%;
  background-color: rgb(219, 10, 10);
  color: #f5f4ee;
  transition: .4s;
}
.double-border-button:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  margin: auto;
  border: 2px solid rgba(244, 237, 237, 0);
  transition: .4s;
}
.double-border-button:hover:after {
  border-radius:  70% 30% 70% 30% / 70% 30% 70% 30%;
  border-color: #f9f4f4;
  width: calc(100% - 10px);
  height: calc(100% + 10px);
}

/* мучаем пагинацию */
.characters-wrapper .ant-pagination{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 15px;
}
.comics-wrapper .ant-pagination{
  display: flex;
  justify-content: center;
  margin-top: 15px;
}
.characters-wrapper .ant-pagination-item{
  margin-top: 5px;
  background-color: #583580;
}
.characters-wrapper .ant-pagination-item a{
  color: white;
}
.characters-wrapper .ant-pagination-prev .ant-pagination-item-link, .ant-pagination-next .ant-pagination-item-link{
  margin-top: 5px;
  background-color:#583580;
  color: white;
}
.characters-wrapper .ant-select:not(.ant-select-customize-input) .ant-select-selector{
  margin-top: 5px;
  background-color: #583580;
  color: white;
}
.characters-wrapper .ant-select-dropdown{
  margin-top: 5px;
  background-color: #583580;
}
