@import url('https://fonts.googleapis.com/css2?family=Faster+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bayon&display=swap');

.characters-block {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-items: center;
  align-items: start;
  gap: 20px 0px; 
}
.characters-title{
  display: flex;
  justify-content: center;
  font-family: 'Faster One', cursive;
  font-size: 30px;
  color:rgb(177, 4, 4)
}
.hero-card{
  margin: 0 auto;
  padding: 25px;
  background-image: url('https://p.favim.com/orig/2018/11/25/comics-line-black-and-white-Favim.com-6626365.png');
  background-position: top right;
  border: 10px solid transparent;
  border-image: linear-gradient(to right, rgb(170, 2, 2), rgb(26, 23, 24)) 1;
}
.hero-name {
  max-width: 170px;
  height: 70px;
  font-family: 'Bayon', sans-serif;
  font-size: 22px;
  font-weight: bold;
  text-align: center;
  color: rgb(17, 17, 17);
}

header{
  padding: auto;
}
header img {
  margin: 0 auto;
  max-width: 150px;
}
